# Исследование надежности заемщиков

**Описание проекта**


Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Описание данных**

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

In [1]:
# импортируем библиотеку
import pandas as pd

In [2]:
data = pd.read_csv('/datasets/data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
# выведем основную информацию о датафрейме
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [5]:
# выведем количество пропущенных значений для каждого столбца
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`.

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

Заполним пропуски в столбце days_employed медианными значениями по каждому типа занятости income_type.

In [7]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [8]:
# убедимся, что пропуски заполнены
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Обработка аномальных значений

В столбце `days_employed` можно увидеть отрицательное количество дней трудового стажа. Заменим все отрицательные значения в столбце положительными:

In [9]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях:

In [10]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

Выведем перечень уникальных значений столбца `children`:

In [11]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [12]:
# удалим аномальные значения
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [13]:
# перепроверим
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный:

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`:

In [15]:
data['education'] = data['education'].str.lower()

In [16]:
# посмотрим количество дубликатов
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [20]:
# посмотрим перечень уникальных целей взятия кредита
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

##  Исследуем данные и ответим на вопросы

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

Сделаем категоризацию семей по количеству детей:

In [23]:
print(data['children'].value_counts())

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [24]:
data_pivot_1 = pd.pivot_table(data, index='children', values='debt', aggfunc='count')
data_pivot_2 = pd.pivot_table(data, index='children', values='debt', aggfunc='sum')
debt_wiht_children = data_pivot_1
debt_wiht_children['not_returned_debt'] = data_pivot_2
debt_wiht_children['returned_debt'] = debt_wiht_children['debt'] - debt_wiht_children['not_returned_debt']
debt_wiht_children['return_ratio'] = debt_wiht_children['returned_debt'] / debt_wiht_children['debt'] 
debt_wiht_children

           debt  not_returned_debt  returned_debt  return_ratio
children
0         14091               1063          13028      0.924562
1          4808                444           4364      0.907654
2          2052                194           1858      0.905458
3           330                 27            303      0.918182
4            41                  4             37      0.902439
5             9                  0              9      1.000000

1. Самый высокий процент возварата имеют клиенты, у которых нет детей - 92,45%;
2. У клиентов, имеющих 1-2 детей, количество возвратов кредитов в срок ниже:
 - 90,7% (если у клиента 1 ребенок)
 - 90,5% (если у клиента 2 ребенка)
3. Многодетные клиенты имеют следующий процент возврата:
 - 91,8% (3 ребенка)
 - 90,2% (4 ребенка)
​
Выборка по клиентам, имеющим 5 детей является не репрезентативной, так как по представленному в данных количеству таких семей сложно оценить действительную картину.

**Вывод:** 
Таким образом заемщик, у которого нет детей более надежен с точки зрения возврата кредита в установленный срок. 
Объяснить более низкий процент возврата у клиентов, имеющих детей, можно тем, что с появлением ребенка у семьи появляются дополнтельные статьи расходов (например, траты на медицинское обслуживание, оплату образования, летнего отдыха, возникают также вопросы по обеспечению/увеличению жилой площадью).

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
print(data['family_status'].value_counts())

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

Основную категорию кредиторов составляют женатые/замужние.

In [26]:
data_pivot_1 = pd.pivot_table(data, index='family_status', values='debt', aggfunc='count')
data_pivot_2 = pd.pivot_table(data, index='family_status', values='debt', aggfunc='sum')
debt_family_status = data_pivot_1
debt_family_status['not_returned_debt'] = data_pivot_2
debt_family_status['returned_debt'] = debt_family_status['debt'] - debt_family_status['not_returned_debt']
debt_family_status['return_ratio'] = debt_family_status['returned_debt'] / debt_family_status['debt'] 
debt_family_status

                        debt  not_returned_debt  returned_debt  return_ratio
family_status
Не женат / не замужем   2796                273           2523      0.902361
в разводе               1189                 84           1105      0.929352
вдовец / вдова           951                 63            888      0.933754
гражданский брак        4134                385           3749      0.906870
женат / замужем        12261                927          11334      0.924394

1. Высокий процент возврата имеют следующие категории:
- вдовец / вдова (93,4 %)
- в разводе (92,9 %)
- женат/замужем (92,5 %)
2. Люди, которые не женаты/не замужем, а также состоящие в гражданском браке имеют процент возврата относительно ниже 90,2% и 90,7 %

Выборку по клиентам, имеющим статус "вдовец/вдова", а также состоящим в разводе можно считать не репрезентативной.

**Вывод:** 
Таким образом, количество замужних/женатых людей среди тех, кто берет кредиты в банке примерно вдвое выше числа одиноких. 
Самыми надежными кредиторами являются люди, которые имели/имеют опыт супружеской жизни. А самыми ненадежными являются кредиторы, которые не состоят в зарегистрированном браке.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [27]:
print(data['total_income_category'].value_counts())

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [28]:
data_pivot_1 = pd.pivot_table(data, index='total_income_category', values='debt', aggfunc='count')
data_pivot_2 = pd.pivot_table(data, index='total_income_category', values='debt', aggfunc='sum')
debt_total_income = data_pivot_1
debt_total_income['not_returned_debt'] = data_pivot_2
debt_total_income['returned_debt'] = debt_total_income['debt'] - debt_total_income['not_returned_debt']
debt_total_income['return_ratio'] = debt_total_income['returned_debt'] / debt_total_income['debt'] 
debt_total_income

                        debt  not_returned_debt  returned_debt  return_ratio
total_income_category
A                         25                  2             23      0.920000
B                       5014                354           4660      0.929398
C                      15921               1353          14568      0.915018
D                        349                 21            328      0.939828
E                         22                  2             20      0.909091

**Вывод:** 

Количество записей в категориях "A", "D" и "E" недостаточно чтобы репрезентативно оценить генеральную совокупность. Большинство клиентов попадают в категории "B" и "C", то есть имеют доход от 200 000 тыс. до 1 000 000 млн. и от 50 000 тыс. до 200 000 тыс. 
По указанным клиентам можно провести анализ:

- Высокий процент возврата имеют заемщики, доход которых находится в диапазоне от 200 000 тыс. до 1 000 000 млн. - 92,9%
- Заемщики, доход которых находится в диапазоне от 50 000 тыс. до 200 000 тыс. имеют процент возврата - 91,5%

Таким образом, наиболее надежной группой заемщиков являются клиенты, доход которых выше 200 000 тыс. В свою очередь заемщики с низким уровнем доходов финансово уязвимы, что может негативно повлиять на выплату кредита в срок.

### Как разные цели кредита влияют на его возврат в срок?

In [29]:
data.groupby('purpose_category').agg({'debt': ['count', 'sum']})

                           debt
                          count  sum
purpose_category
операции с автомобилем     4279  400
операции с недвижимостью  10751  780
получение образования      3988  369
проведение свадьбы         2313  183

In [30]:
data_pivot_1 = pd.pivot_table(data, index='purpose_category', values='debt', aggfunc='count')
data_pivot_2 = pd.pivot_table(data, index='purpose_category', values='debt', aggfunc='sum')
debt_purpose = data_pivot_1
debt_purpose['not_returned_debt'] = data_pivot_2
debt_purpose['returned_debt'] = debt_purpose['debt'] - debt_purpose['not_returned_debt']
debt_purpose['return_ratio'] = debt_purpose['returned_debt'] / debt_purpose['debt'] 
debt_purpose

,debt,not_returned_debt,returned_debt,return_ratio
purpose_category,,,,
операции с автомобилем,4279,400,3879,0.906520
операции с недвижимостью,10751,780,9971,0.927449
получение образования,3988,369,3619,0.907472
проведение свадьбы,2313,183,2130,0.920882

- Самый высокий процент возврата составляют кредиты, связанные с покупкой недвижимости - 92,7%. 
- Проведение свадьбы - 92%
- Получение образования - 90,7%
- Операции с автомобилем - 90,6%

**Вывод:** 

Ответственно люди подходят к выплате кредита, связанного с покупкой недвижимости. Кроме того, операции с недвижимостью составляют практически половину всех кредитов. 

Наименьшую надежность по возврату кредита мы наблюдаем в категории "операции с автомобилем". Можно сделать вывод, что автомобиль, в отличие от квартиры, влечет за собой много дополнительных расходов (траты на бензин, техническое обслуживание, оформление страховки, возможные поломки или ДТП), что усложняет выплату кредита в срок.

### Приведите возможные причины появления пропусков в исходных данных.

*Возможные причины:*
- Пропуски могли возникнуть из-за технических проблем при выгрузке датасета, например, были использованы неверные форматы кодировки данных или использован некорректный разделитель;
- Изначальное отсутствие ответа на определенный вопрос анкеты заемщика.Это может быть обусловлено нежеланием клиента раскрывать личную информацию (например, сокрытие возраста, информации о доходах) или при ситуации, когда данные по этим вопросам отсутствуют (например, отсутствует общий трудовой стаж);
- Наличие различий в анкетах для заемщиков в зависимости от целей получения кредита. Возможно, в определенных анкетах отсутствуют некоторые поля в виду ненадобности этой информации для банка.

## Общий вывод

**По результатам анализа можно сделать следующие выводы:**
- Наиболее надежными кредиторами являются люди, которые имели/имеют опыт супружеской жизни;
- Отсутствие детей у заемщика также повышает вероятность возврата кредита в срок.
- Если целью кредита является покупка недвижимости, то заемщик подходит более ответственно к выплате кредита.

**Небольшие рекомендации для банка, касающиеся сбора данных:**
- Указывать трудовой стаж лучше в годах, чем в днях;
- Указывать валюту месячного дохода (из таблицы неясно);
- Разработать единые анкеты для всех заемщиков, сделать ограниченные варианты ответов на выбор в полях, добавить необходимые подсказки в полях для заполнения (если такие отсутствуют)

**Рекомендации для банка с точки зрения бизнеса:**



По результатам анализа нами был составлен портрет надежного заемщика - это человек с доходом от 200 000 тыс., имеющий опыт супружеской жизни и не имеющий детей, целью кредита у такого заемщика является покупка недвижимости.



Таким образом чтобы привлечь больше надежных клиентов, банку следует формулировать выгодные предложения, учитывая характеристики "идельного заемщика" и ориентируясь на его потребности.